.profile-fullname-block {
  display: flex;
  width: fit-content;
  gap: 100px;
}

.profile-edit-block {
  width: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.profile-edit-label {
  margin-left: 18px;
}

.profile-edit-input {
  width: 320px;
  padding: 10px 50px 10px 18px;
}

.logout-button {
  padding: 7px 25px;
  display: flex;
  gap: 20px;
  align-items: center;
}
