.add-card-button {
  display: flex;
  gap: 15px;
  width: 241px;
  height: 70px;
  border-radius: 20px;
  border: 1px solid #54C392;
  background: #FFF;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-card-button-text {
  color: #54C392;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  justify-content: center;
  align-items: center;
}

.plus-icon {
  width: 40px;
  height: 40px;
}