.support-block {
  position: relative;
  padding: 25px 44px;
}

.support-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.support-email-input {
  width: 350px;
  height: 56px;
  padding: 18px;
}

.support-textarea {
  height: 355px;
  resize: none;
  padding: 10px 18px;
}

.support-send-button {
  align-self: flex-end;
  padding: 16px;
  border-radius: 16px;
  font-size: 28px;
}
