.added-card {
  display: flex;
  gap: 25px;
  justify-content: center;
  align-items: center;
  width: 435px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 20px;
  border: 1px solid #54C392;
  background: #FFF;
  padding-left: 30px;
  padding-right: 30px;
}

.added-card-text {
  color: #54C392;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.card-brand-icon {
  width: 84px;
  height: 58px;
}

.trash-bin-icon {
  width: 40px;
  height: 40px;
}