.rent-container {
  display: flex;
  width: 1420px;
  margin: 0 auto;
  padding: 64px 0;
}

.filter-block {
  width: 320px;
  height: 800px;
  height: 1526px;
  padding: 10px 24px;
  display: flex;
  gap: 18px;
  flex-direction: column;
  overflow-y: scroll;
}

.filter-title {
  font-size: 40px;
  align-self: center;
}

.filter-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.filter-subtitle {
  font-size: 24px;
}

.filter-option {
  display: flex;
  gap: 20px;
}

.filter-checkbox {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.option-text {
  font-size: 18px;
  user-select: none;
}

.size-fields {
  display: flex;
  gap: 8px;
}

.size-input {
  padding-inline: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  width: 60px;
  height: 40px;
  font-size: 20px;
}

.cross {
  font-size: 24px;
}

.price-filter {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.price-field {
  outline: none;
  padding-left: 8px;
  width: 240px;
  height: 36px;
  border-radius: 25px;
  border: 3px solid #d9d9d9;
  font-size: 16px;
}

.filter-button {
  width: 250px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 24px;
}

.content-block {
  width: 1100px;
  height: 1650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 1526px;
  gap: 42px;
}

.navigation-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.page-number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #fff;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
}

.arrow {
  border: none;
  display: flex;
  cursor: pointer;
}
