.main {
  display: flex;
  justify-content: center;
  background-image: url('/images/main-background.png');
  background-position: top center;
  background-repeat: repeat-y;
  background-size: contain;
}

.search {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1024px;
}

.search-block {
  position: relative;
  width: 100%;
  height: 58px;
  display: flex;
}

.main-search {
  border: none;
  outline: none;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  font-weight: 300;
  font-size: 24px;
  padding-left: 18px;
}

.search-button {
  display: flex;
  border-radius: 10px;
  position: absolute;
  height: 100%;
  width: 154px;
  align-items: center;
  padding-inline: 8px;
  justify-content: space-between;
  right: 0;
}

.search-button-text {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.about-us-header {
  display: flex;
  gap: 108px;
  align-items: center;
}

.about-us-header-text {
  margin-left: 58px;
  font-size: 36px;
}

.about-us-detailed {
  position: relative;
  display: flex;
  height: 732px;
  background-color: #e3e6ec;
  border-radius: 0 0 100px 100px;
  align-items: center;
  gap: 58px;
}

.about-us-detailed-text {
  margin-left: 58px;
  font-size: 32px;
}

.blue-triangle {
  position: absolute;
  width: 0;
  height: 0;
  right: 282px;
  border-right: 168px solid transparent;
  border-top: 300px solid #e3e6ec;
}

.about-us-service {
  position: relative;
  display: flex;
  align-items: center;
  gap: 36px;
  height: 500px;
}

.about-us-service-text {
  text-align: right;
  font-size: 32px;
  margin-right: 58px;
}

.white-triangle {
  position: absolute;
  width: 0;
  height: 0;
  left: 345px;
  border-left: 105px solid transparent;
  border-top: 300px solid #f7f7f7;
}

.rent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #dfcbcb;
  height: 452px;
  border-radius: 100px 100px 0 0;
  padding: 0 58px;
}

.rent-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
  height: 100px;
  width: 350px;
  font-size: 32px;
  border-radius: 37px;
  color: #000;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}

.rent-button:hover {
  background-color: #000;
  color: #fff;
  font-weight: 500;
}
