.user-payment-card {
  display: flex;
  padding-inline: 30px;
  justify-content: space-between;
  align-items: center;
  width: 414px;
  height: 70px;
  border-radius: 20px;
  border: 1px solid #54c392;
  background-color: #fff;
}

.user-payment-card-text {
  color: #54c392;
  font-size: 20px;
  font-weight: 600;
}

.delete-payment-card-button {
  border: none;
  display: flex;
  cursor: pointer;
}
