.page-container {
  width: 1132px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-bottom: 90px;
  gap: 64px;
}

.add-advert {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 76px;
  margin-top: 48px;
  margin-bottom: 64px;
}

.rectangle {
  position: relative;
  width: 89%;
  height: 76px;
  background: #73ec8b;
}

.polygon {
  position: absolute;
  left: 11%;
  border-top: 38px solid transparent;
  border-left: 77px solid #f7f7f7;
  border-bottom: 38px solid transparent;
}

.add-par {
  position: absolute;
  left: 18.5%;
  font-weight: bold;
  font-size: 32px;
}

.number-text {
  font-weight: 600;
  font-size: 32px;
}

.circle-block {
  width: 40px;
  height: 40px;
  background: #ffffff;
  border-style: solid;
  border-width: 1px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-block {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.choose-image-block {
  display: flex;
  flex-direction: column;
  padding-left: 76px;
  gap: 48px;
}

.step-title {
  display: flex;
  gap: 36px;
}

.step-title-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.step-title-text {
  font-weight: 600;
  font-size: 24px;
}

.step-button-click {
  font-size: 24px;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 25px;
}

.step-images {
  display: flex;
  justify-content: row;
  gap: 48px;
}

.step-images-array {
  width: 125px;
  height: 125px;
  border-radius: 15px;
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-images-array img {
  width: 62.5px;
}

h1.step-title-text {
  font-weight: 600;
  font-size: 24px;
}

h3.step-title-text {
  margin: 0;
  font-weight: 400;
  color: #8080809c;
  font-size: 16px;
}

.price-block {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.price-input-block {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 76px;
}

.description-block {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.description-input {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-left: 76px;
}

.title-header {
  font-weight: 400;
  font-size: 24px;
}

.title-input {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-form {
  font-size: 16px;
  padding: 0px 20px 0px 20px;
  width: 650px;
  height: 50px;
}

.description-form {
  font-size: 16px;
  word-break: break-all;
  resize: none;
  position: relative;
  padding: 20px;
  width: 650px;
  height: 300px;
}

.characteristics-block {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.charact-array-box {
  padding-left: 76px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.charact-array {
  display: flex;
  gap: 48px;
}

.char-form {
  position: relative;
  font-size: 16px;
  padding: 0 20px 0 20px;
  width: 300px;
  height: 40px;
}

.charact-array-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.charact {
  display: flex;
  gap: 48px;
}

.char-text {
  font-size: 16px;
  word-break: break-all;
  resize: none;
  padding: 20px;
  width: 648px;
  height: 208px;
}

.price-form {
  position: relative;
  padding: 0px 20px 0px 20px;
  width: 200px;
  height: 40px;
}

.price-box {
  display: flex;
  gap: 16px;
}

.submit-form-box {
  display: flex;
  gap: 16px;
}

.submit-checkbox {
  width: 30px;
  height: 30px;
  accent-color: #fff;
  border: 4px solid #333;
  background-color: #fff;
}

.submit-step-button-click {
  position: relative;
  background-color: #54c392;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  font-size: 32px;
  width: 648px;
  height: 76px;
  border: 0;
  border-radius: 25px;
}

.four-title-header {
  font-weight: 400;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.price-header {
  display: flex;
  font-size: 24px;
  font-weight: 400px;
  gap: 16px;
}
