.personal-page-section-buttons {
  display: flex;
  gap: 44px;
  margin-bottom: 34px;
  height: 70px;
}

.personal-page-section-button {
  text-decoration: none;
  padding: 18px 26px;
  border-radius: 20px;
  font-size: 28px;
}

.cabinet-button {
  width: 338px;
}

.my-devices-button {
  width: 250px;
}

.add-button {
  display: flex;
  gap: 15px;
  width: 248px;
  height: 70px;
  background-color: #f7f7f7;
  font-weight: 600;
  color: #54c392;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-button:hover {
  transition: border-color 0.3s ease;
  border-color: #54c392;
}
