.cabinet-container {
  height: 550px;
  display: flex;
  gap: 44px;
}

.cabinet-menu {
  width: 338px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 36px 44px;
}

.cabinet-menu-button {
  text-decoration: none;
  border-radius: 16px;
  font-size: 28px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  height: 52px;
  width: 100%;
  gap: 22px;
}

.cabinet-info-block {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 950px;
  padding: 40px 44px;
}

.edit-icon {
  position: absolute;
  right: 16px;
  top: 49px;
  cursor: pointer;
}

.cabinet-buttons-block {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.edit-buttons-block {
  display: flex;
  margin-top: auto;
  align-self: flex-end;
  gap: 26px;
}

.cancel-button {
  border-radius: 15px;
  color: #db6262;
  font-size: 28px;
  padding: 10px 24px;
}

.cancel-button:hover {
  transition: border-color 0.5s ease;
  border: 1px solid #db6262;
}

.save-button {
  border-radius: 15px;
  font-size: 28px;
  padding: 10px 24px;
}
