.personal-page-device-card {
  outline: 1px solid #54c392;
  outline-offset: -1px;
  border-radius: 20px;
  width: 248px;
  height: 300px;
  padding: 20px 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.personal-page-device-card img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}

.personal-page-device-card-title {
  font-size: 14px;
  font-weight: 600;
}

.personal-page-device-card p {
  font-size: 12px;
}

.review-device-button {
  height: 32px;
  color: #54c392;
  font-weight: 600;
  border-radius: 10px;
}
