* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  background-color: #f7f7f7;
}

.main-button {
  color: #fff;
  background-color: #54c392;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-button:hover {
  background-color: #3e9670;
}

.secondary-button {
  color: #000;
  background-color: #f7f7f7;
  font-weight: 400;
  border: 1px solid transparent;
  cursor: pointer;
}

.secondary-button:hover {
  transition: border-color 0.5s ease;
  border-color: #54c392;
}

.info-input {
  outline: none;
  border-radius: 25px;
  background-color: #f7f7f7;
  border: 3px solid #d9d9d9;
  font-size: 20px;
  color: #757575;
}

.gray-container {
  width: 1420px;
  height: 742px;
  padding: 44px;
  background-color: #e3e6ec;
  margin: 50px auto;
  border-radius: 60px;
}

.main-block {
  background-color: #f7f7f7;
  border-radius: 40px;
}

.main-label {
  font-size: 20px;
  color: #757575;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
