body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.header {
  display: flex;
  background-color: #E3E6EC;
  height: 70px;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 50px;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: 70px;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.logo-link {
  display: flex;
}

.icon-block {
  display: flex;
  gap: 48px;
  margin-right: 70px;
}

.icon-link {
  display: flex;
}
