.register-block {
  padding: 10px;
  display: flex;
  background-color: #e3e6ec;
  width: 1420px;
  height: 742px;
  margin: 50px auto;
  border-radius: 160px;
  justify-content: space-between;
}

.authentication-block {
  display: flex;
  width: 360px;
  flex-direction: column;
  align-items: center;
  margin-left: 100px;
  margin-top: 114px;
  gap: 68px;
}

.authentication-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: 36px;
}

.auth-button {
  all: unset;
  font-size: 36px;
  color: #888;
  cursor: pointer;
}

.is-btn-active {
  color: #000;
  font-weight: 700;
}

.register-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 36px;
}

.fullname-block {
  display: flex;
  width: 100%;
  gap: 60px;
}

.auth-input {
  all: unset;
  border-bottom: #fff solid 1px;
  font-size: 16px;
  font-weight: 500;
  color: #282828;
  padding: 2px 10px;
}

.auth-input::placeholder {
  color: #282828;
}

.name {
  width: 150px;
}

.surname {
  width: 150px;
}

.email {
  width: 100%;
}

.password {
  width: 100%;
}

.repeat-password {
  width: 100%;
}

.register-button {
  border: none;
  font-size: 36px;
  font-weight: 600;
  width: 100%;
  height: 78px;
  color: #fff;
  background-color: #54c392;
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-button:hover {
  background-color: #3e9670;
}
